<header class="masthead">
  <div class="container h-100">
    <div class="col-lg-12 align-self-center">
      <% if logged_in? && registered? %>
        <p class="text-white-75 font-weight-light">Welcome, <%= @speaker.name %></p>
        <%= link_to 'Edit Profile', edit_speaker_path(id: @speaker.id) %>
      <% end %>

      <% unless @current_user %>
        <%= button_to '参加申し込み / ログイン', '/auth/auth0', {method: :post, class: "btn btn-primary btn-xl inline" } %>
      <% end %>
      <%= button_to 'Logout', '/logout', {method: :get, class: "btn btn-primary btn-xl inline" } %>
    </div>
  </div>
</header>
